<div class="container-column" *ngIf="(columns$ | async) as columns">
    <div class="column" *ngFor="let column of columns | search: searchText" appStopPropagation (click)="saveColumndId(column._id)">

        <div class="title-container">
            <div class="columnt-title">
                <h3 class="title">{{ column.title }}</h3>
            </div>
            <app-confirm (emitConfirm)="deleteColumn($event, column._id)" appStopPropagation (click)="setDeleteColumn()">
                <button mat-icon-button class="delete-column-btn">
                    <mat-icon>delete</mat-icon>
                </button>
            </app-confirm>
        </div>
        <hr class="column-line">
        <app-modal *transloco="let t" (click)="setTwoFields()">
            <button mat-flat-button class="add-task-btn"
                type="button"
                color="primary"
            ><mat-icon>add_to_photos</mat-icon> {{ t('board.add-task') }}
            </button>
        </app-modal>
        <div class="task-container">

        </div>
        <!-- <app-edit-task *ngIf="isShow$ | async"></app-edit-task> -->
            <!-- <app-item-board [item]="item" (emitEditTask)="editTask($event, column.id)"
                (emitDeleteTask)="onDeleteTask($event, column.id)"></app-item-board> -->
    </div>
</div>

