<div class="welcomepage" *transloco="let t" id="welcomepage">
    <div class="welcomepage-wrapper">
        <section class="about-block">
        <div class="about-block-left">
            <h1>{{ t('welcomepage.subtitle-1') | uppercase }}</h1>
            <hr>
            <p>{{ t('welcomepage.pma-text') }}</p>
            <button class="start-btn" routerLink="/auth/signup">{{ t('welcomepage.start-btn') }}</button>
        </div>
        <div class="about-block-right">
            <img src="../../../../assets/images/pma.png" alt="pma-image">
        </div>
        </section>
        <section class="works-block">
            <div class="works-block-left">
                <img src="../../../../assets/images/plan-image.jpg" alt="plan-image">
            </div>
            <div class="works-block-right">
                <h2>{{ t('welcomepage.subtitle-2') | uppercase }}</h2>
                <hr>
                <div class="works-arrow-block">
                    <p>{{ t('welcomepage.pma-works.text-1') }}</p>
                    <img src="../../../../assets/images/arrow1.png" alt="arrow-image">
                    <p>{{ t('welcomepage.pma-works.text-2') }}</p>
                    <img src="../../../../assets/images/arrow1.png" alt="arrow-image">
                    <p>{{ t('welcomepage.pma-works.text-3') }}</p>
                </div>
            </div>
        </section>
        <section class="info-block">
            <div class="info-block-left">
                <div class="author-logo">
                    <img src="../../../../assets/images/author.jpg" alt="author-image">
                    <h2>{{ t('info.name-author') | uppercase }}</h2>
                </div>
                <hr>
                <p>{{ t('info.about-author') }}</p>
            </div>
            <div class="info-block-right">
                <h2>{{ t('info.name-course') | uppercase }}</h2>
                <hr>
                <p>{{ t('info.about-course') }}</p>
            </div>
        </section>
    </div>
</div>


