<article class="board-list" *transloco="let t">
    <ul class="list-wrapper" *ngIf="boards$ | async as boards">
        <li class="list-item board-create" >
        <app-modal (emitText)="createNewBoard($event)" appStopPropagation (click)="setOneField()">
            <div class="board-new">
                <h2 class="board-new-title">{{ t('main.board-new') }}</h2>
                <img src="../../../../../../assets/icons/create-icon.png" class="create-img" alt="create-icon">
            </div>
        </app-modal>
        </li>
        <li class="list-item" *ngFor="let board of boards | search: searchText" (click)="saveBoardId(board._id)">
            <div class="list-top">
                <div class="list-body">
                    <h3 class="list-title">{{ board.title }} <hr></h3>
                    <hr>
                    <app-confirm (emitConfirm)="deleteBoard($event, board._id)" appStopPropagation (click)="setDeleteBoard()">
                        <button mat-icon-button class="list-btn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </app-confirm>
                </div>
            </div>
        </li>
    </ul>
</article>
