.auth-wrapper {
    padding: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .group-container {
        margin-top: 3rem;
        padding: 2rem;
        background-color: #fff;
        border: 1px solid #6432ac;
        border-radius: 10px;
    }

}

