.search {
    width: 100%;
    &_wrapper {
        position: relative;
        width: 20rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #000;
        gap: 1rem;
        padding-bottom: 0.7rem;
    }

    &_input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 1.1rem;
        border-color: transparent;
        background-color: transparent;
    }
}
