<footer *transloco="let t" id="footer">
    <div class="footer-wrapper">
      <div class="footer-author">
        <img src="../../../../assets/icons/github-icon.png">
        <a href="https://github.com/milana1726/" target="_blank">{{ t('footer.author') }}</a>
      </div>
      <div class="footer-date">
        <p>{{ t('footer.date') }}</p>
      </div>
      <div class="footer-school">
        <a href="https://rs.school/js-en/" target="_blank">
          <img src="../../../../assets/images/rs_school_js.svg" alt="school-logo">
        </a>
      </div>
    </div>
  </footer>
