.confirm-container {
    width: 100%;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
        margin-top: 1rem;
        font-size: 1.7rem;
        font-weight: 600;
    }

    .confirm-btns {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        .btn-ok, .btn-cancel {
            margin-top: 0.5rem;
            height: 2.5rem;
            width: 6rem;
            font-size: 1rem;
        }

        .btn-ok:not([disabled]) {
            background-color: #2583a8;
            color: #fff;

            &:hover {
                background-color: #925ae0;
            }
        }

        .btn-cancel {
            color: #2583a8;
            background-color: #fff;
            border: 2px solid #2583a8;

            &:hover {
                color: #fff;
                background-color: #2583a8;
                border-color: #2583a8;
            }
        }
    }
}
